input[data-v-d915d8da] {
    padding: .5rem;
    background: none;
    color: #000
}

input[data-v-d915d8da]::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .5)
}

input[data-v-d915d8da]::-moz-placeholder {
    color: rgba(0, 0, 0, .5)
}

input[data-v-d915d8da]:-ms-input-placeholder {
    color: rgba(0, 0, 0, .5)
}

input[data-v-d915d8da]::-ms-input-placeholder {
    color: rgba(0, 0, 0, .5)
}

&[data-v-d915d8da]::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .5)
}

&[data-v-d915d8da]::-moz-placeholder {
    color: rgba(0, 0, 0, .5)
}

&[data-v-d915d8da]:-ms-input-placeholder {
    color: rgba(0, 0, 0, .5)
}

&[data-v-d915d8da]::-ms-input-placeholder {
    color: rgba(0, 0, 0, .5)
}

input[data-v-d915d8da]::placeholder {
    color: rgba(0, 0, 0, .5)
}

input[data-v-d915d8da]:last-child {
    border: none
}

.logos a[data-v-d915d8da] {
    display: block;
    margin-top: .5rem;
    margin-bottom: .5rem
}