a:hover .hover-color[data-v-250880a1] {
    color: #0f0
}

.tippy-box[data-animation=fade][data-state=hidden] {
    opacity: 0
}

[data-tippy-root] {
    max-width: calc(100vw - 10px)
}

.tippy-box {
    position: relative;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.4;
    outline: 0;
    transition-property: transform, visibility, opacity
}

.tippy-box[data-placement^=top]>.tippy-arrow {
    bottom: 0
}

.tippy-box[data-placement^=top]>.tippy-arrow:before {
    bottom: -7px;
    left: 0;
    border-width: 8px 8px 0;
    border-top-color: currentColor;
    border-top-color: initial;
    transform-origin: center top
}

.tippy-box[data-placement^=bottom]>.tippy-arrow {
    top: 0
}

.tippy-box[data-placement^=bottom]>.tippy-arrow:before {
    top: -7px;
    left: 0;
    border-width: 0 8px 8px;
    border-bottom-color: currentColor;
    border-bottom-color: initial;
    transform-origin: center bottom
}

.tippy-box[data-placement^=left]>.tippy-arrow {
    right: 0
}

.tippy-box[data-placement^=left]>.tippy-arrow:before {
    border-width: 8px 0 8px 8px;
    border-left-color: currentColor;
    border-left-color: initial;
    right: -7px;
    transform-origin: center left
}

.tippy-box[data-placement^=right]>.tippy-arrow {
    left: 0
}

.tippy-box[data-placement^=right]>.tippy-arrow:before {
    left: -7px;
    border-width: 8px 8px 8px 0;
    border-right-color: currentColor;
    border-right-color: initial;
    transform-origin: center right
}

.tippy-box[data-inertia][data-state=visible] {
    transition-timing-function: cubic-bezier(.54, 1.5, .38, 1.11)
}

.tippy-arrow {
    width: 16px;
    height: 16px;
    color: #333
}

.tippy-arrow:before {
    content: "";
    position: absolute;
    border-color: transparent;
    border-style: solid
}

.tippy-content {
    position: relative;
    padding: 5px 9px;
    z-index: 1
}

.tippy-box {
    border: 1px transparent
}

.tippy-box[data-placement^=top]>.tippy-arrow:after {
    border-top-color: inherit;
    border-width: 8px 8px 0;
    bottom: -8px;
    left: 0
}

.tippy-box[data-placement^=bottom]>.tippy-arrow:after {
    border-bottom-color: inherit;
    border-width: 0 8px 8px;
    top: -8px;
    left: 0
}

.tippy-box[data-placement^=left]>.tippy-arrow:after {
    border-left-color: inherit;
    border-width: 8px 0 8px 8px;
    right: -8px;
    top: 0
}

.tippy-box[data-placement^=right]>.tippy-arrow:after {
    border-width: 8px 8px 8px 0;
    left: -8px;
    top: 0;
    border-right-color: inherit
}

.tippy-box[data-placement^=top]>.tippy-svg-arrow>svg:first-child:not(:last-child) {
    top: 17px
}

.tippy-box[data-placement^=bottom]>.tippy-svg-arrow>svg:first-child:not(:last-child) {
    bottom: 17px
}

.tippy-box[data-placement^=left]>.tippy-svg-arrow>svg:first-child:not(:last-child) {
    left: 12px
}

.tippy-box[data-placement^=right]>.tippy-svg-arrow>svg:first-child:not(:last-child) {
    right: 12px
}

.tippy-arrow {
    border-color: inherit
}

.tippy-arrow:after {
    content: "";
    z-index: -1;
    position: absolute;
    border-color: transparent;
    border-style: solid
}

[data-v-fb2bae8a] img {
    width: 100%
}

blockquote[data-v-fb2bae8a] {
    border-left-width: 1px;
    border-color: currentColor;
    padding-left: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem
}

[data-v-fb2bae8a] a.lightbox img {
    cursor: -webkit-zoom-in;
    cursor: zoom-in
}

h1[data-v-10799180] .annotation {
    margin-left: 2px;
    margin-right: 5px
}

h1[data-v-10799180] .annotation-counter-inner {
    margin-left: -1em
}

.multiply[data-v-10799180] {
    background: #cbcbd0
}

.multiply[data-v-10799180] img {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    mix-blend-mode: multiply
}

.article-nav[data-v-10799180]:last-child {
    border: none
}

.router-link-exact-active[data-v-10799180] {
    color: red
}