#timeline-bar[data-v-4d557eaf] {
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 10;
    top: 2.5em;
    height: 1.5em;
    padding-bottom: 1em;
    cursor: pointer;
    overflow: hidden;
}

#timeline-bar li[data-v-4d557eaf] {
    list-style: none;
}

#timeline-bar[data-v-4d557eaf] .dot {
    padding: 0.15em 2px 1em;
    position: fixed;
    transform: translateX(1em);
    top: 1.8em;
    opacity: 0;
    transition: opacity 0.4s ease-out 0s;
}

#timeline-bar[data-v-4d557eaf] .dot.red,
#timeline-bar[data-v-4d557eaf] .dot:hover {
    color: red;
    z-index: 10;
}

#timeline-bar.show[data-v-4d557eaf],
#timeline-bar[data-v-4d557eaf]:hover {
    box-shadow: rgb(255, 255, 255) 0px 0px 20px 18px;
    background: rgba(255, 255, 255, 0.96);
}

#timeline-bar.show .dot[data-v-4d557eaf],
#timeline-bar:hover .dot[data-v-4d557eaf] {
    opacity: 1;
}

#year-start[data-v-4d557eaf] {
    position: fixed;
    top: 2.75em;
    left: 0.25em;
    display: none;
}

#year-current[data-v-4d557eaf] {
    position: fixed;
    top: 2.75em;
    margin-left: 1em;
    transition: left 0.1s ease-out 0s;
    box-shadow: rgb(255, 255, 255) 0px 0px 20px 18px;
    background: rgba(255, 255, 255, 0.96);
}

#year-end[data-v-4d557eaf] {
    right: 0px;
    padding-right: 1.5rem;
    position: fixed;
    top: 2.75em;
}

.fuzzy-background[data-v-4d557eaf] {
    box-shadow: rgb(255, 255, 255) 0px 0px 20px 18px;
    background: rgba(255, 255, 255, 0.96);
}

#events[data-v-4d557eaf] {
    width: 50vw;
}

#events.media-mode[data-v-4d557eaf] {
    font-size: 0.7rem;
    width: 250px;
    margin-top: 8em;
    padding-left: 0.25em;
}

#events.media-mode blockquote[data-v-4d557eaf] {
    margin: 1em;
}

#events .event[data-v-4d557eaf] {
    min-height: 100vh;
    margin-bottom: 30vh;
}

#events .event[data-v-4d557eaf] p {
    margin-bottom: 0.75rem;
}

#events .event .event-inline-media[data-v-4d557eaf],
#events .event .inline-caption[data-v-4d557eaf] {
    display: none;
}

#events .event[data-v-4d557eaf] blockquote {
    font-style: italic;
    white-space: pre-wrap;
}

#events .event[data-v-4d557eaf] blockquote p {
    margin: 0px;
}

#events .event[data-v-4d557eaf]:last-child {
    margin-bottom: 1.5rem;
}

#events .event h1[data-v-4d557eaf] {
    opacity: 1;
    animation-delay: 1s;
    transition: all 1s ease-out 0s;
}

#events .event.visible h1[data-v-4d557eaf] {
    opacity: 0;
    transform: translateY(-1em);
}

#to-be-continued[data-v-4d557eaf] {
    padding-left: 1.5rem;
    height: 20vh;
}

#separator[data-v-4d557eaf] {
    position: fixed;
    top: 4.75em;
    bottom: 1em;
    width: 1px;
    left: calc(50% - 2px);
    background: rgb(0, 0, 0);
    transition: all 0.1s ease-out 0s;
}

#separator.media-mode[data-v-4d557eaf] {
    left: 240px;
}

#separator.media-mode.no-media[data-v-4d557eaf] {
    transform: skew(-45deg);
    left: 60vw;
}

#separator.no-media[data-v-4d557eaf] {
    transform: skew(-25deg);
    left: 75vw;
}

#caption[data-v-4d557eaf] {
    position: fixed;
    bottom: 2em;
    left: 60vw;
    width: 30vw;
    text-align: center;
}

#caption div[data-v-4d557eaf] {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

#caption.media-mode[data-v-4d557eaf] {
    left: 220px;
    width: calc(100vw - 220px);
}

#caption.search-mode[data-v-4d557eaf] {
    margin-bottom: 2rem;
}

#media[data-v-4d557eaf] {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding-right: 1.5rem;
    width: 50vw;
}

#media.media-mode[data-v-4d557eaf] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    width: calc(100vw - 280px);
}

#media.media-mode .media-item[data-v-4d557eaf] {
    padding: 0.75rem;
    max-height: 80vh;
}

#media.media-mode .media-item[data-v-4d557eaf]:hover {
    transform: scale(1);
    margin-left: 0px;
}

#media.media-mode .media-item[data-v-4d557eaf]:only-child {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

#media .media-item[data-v-4d557eaf] {
    cursor: zoom-in;
    padding: 0.5rem;
    max-width: 30vw;
    max-height: 60vh;
    transition: transform 0.2s ease-out 0s, -webkit-transform 0.2s ease-out 0s;
}

#media .media-item[data-v-4d557eaf]:hover {
    transform: scale(1.1);
}

@media print {
    #caption[data-v-4d557eaf],
    #media[data-v-4d557eaf],
    #separator[data-v-4d557eaf],
    #timeline-bar[data-v-4d557eaf],
    #year-current[data-v-4d557eaf] {
        display: none;
    }
    #events[data-v-4d557eaf] {
        width: 100vw;
    }
    #events .event-inline-media[data-v-4d557eaf],
    #events .inline-caption[data-v-4d557eaf] {
        display: block;
    }
    #events .event-inline-media img[data-v-4d557eaf],
    #events .event-inline-media video[data-v-4d557eaf],
    #events .inline-caption img[data-v-4d557eaf],
    #events .inline-caption video[data-v-4d557eaf] {
        width: 100%;
    }
    #events .event-inline-media video[data-v-4d557eaf],
    #events .inline-caption video[data-v-4d557eaf] {
        display: none;
    }
    #events .event-inline-media p[data-v-4d557eaf],
    #events .inline-caption p[data-v-4d557eaf] {
        font-size: 10px;
    }
}

@media only screen and (max-width: 736px) {
    body[data-v-4d557eaf],
    html[data-v-4d557eaf] {
        font-size: 16px;
    }
    #events[data-v-4d557eaf] {
        width: 100vw;
    }
    #caption[data-v-4d557eaf],
    #media[data-v-4d557eaf],
    #separator[data-v-4d557eaf],
    #timeline-bar[data-v-4d557eaf] {
        display: none;
    }
    #year-current[data-v-4d557eaf] {
        box-shadow: rgb(255, 255, 255) 0px 0px 16px 18px;
    }
    #events .event[data-v-4d557eaf]:first-child {
        margin-top: 3em;
    }
    #events .event:first-child h1[data-v-4d557eaf] {
        display: none;
    }
    #events .event.visible h1[data-v-4d557eaf] {
        opacity: 1;
        transform: translateY(0px);
    }
    #events .event .event-inline-media[data-v-4d557eaf],
    #events .event .inline-caption[data-v-4d557eaf] {
        display: block;
    }
    #events .event .event-inline-media img[data-v-4d557eaf],
    #events .event .event-inline-media video[data-v-4d557eaf],
    #events .event .inline-caption img[data-v-4d557eaf],
    #events .event .inline-caption video[data-v-4d557eaf] {
        width: 100%;
    }
    #events .event .event-inline-media video[data-v-4d557eaf],
    #events .event .inline-caption video[data-v-4d557eaf] {
        background: red;
    }
    #events .event .event-inline-media p[data-v-4d557eaf],
    #events .event .inline-caption p[data-v-4d557eaf] {
        font-size: 10px;
    }
}

.noselect[data-v-4d557eaf] {
    user-select: none;
}